/* Estilos generales de .filter-bar */
.filter-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border-radius: 8px;
  background-color: #49a011;
}

/* Estilo para los botones con iconos */
.filter-bar .icon-button {
  background-color: #49a011;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}

.filter-bar .icon-button:hover {
  background-color: #3a7e0d;
}

/* Campo de texto */
.filter-bar .text-field {
  flex-grow: 1;
  background-color: white;
  border-radius: 8px;
  padding: 4px 8px;
}

/* Selectores desplegables */
.filter-bar .select {
  min-width: 120px;
  background-color: white;
  border-radius: 8px;
}

/* Contenedor para botones de acción */
.filter-bar .action-buttons {
  display: flex;
  gap: 8px;
}

.filter-bar .action-buttons button {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #49a011;
  color: white;
  border: none; /* Asegura que no haya bordes visibles */
  cursor: pointer;
}

.filter-bar .action-buttons button:hover {
  background-color: #3a7e0d;
}

/* Responsividad para tablets (máximo 1024px) */
@media (max-width: 800px) {
  .filter-bar{
    display: contents;
    justify-content: center;
    }
  .buscar{
    width: 15px;
  }
}
