body {
  background-image: url('https://images.pexels.com/photos/807598/pexels-photo-807598.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh; /* Asegura que el cuerpo ocupe la altura completa */
  overflow-y: auto; /* Permite desplazamiento si es necesario */
}


.bitacora-container {
  background-color: white;
  padding: 10px; /* Reduce el padding si es necesario */
  border-radius: 10px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 0%;
  width: 90vw;
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos toda la altura de la ventana */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Permite que el contenido se desplace si es necesario */
}


.title-text {
  color: #397f0e;
  font-size: 2rem;
  text-align: center;
  padding: 15px;
}

.bitacora-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.image-upload-container {
  width: 80%;
  background-color: #e0f2e9;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 10px 0;
}

.bitacora-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

.upload-label {
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

.upload-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #397f0e;
  color: white;
  height: 60px;
  border-radius: 12px;
  margin-top: 10px;
}

.upload-icon {
  font-size: 24px;
  color: #ffffff;
}

.upload-text {
  font-size: 14px;
  color: #ffffff;
}

.bitacora-fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.save-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Ajustes para responsividad */
@media (max-width: 768px) {
  .title-text {
      font-size: 1.8rem;
  }
}

@media (max-width: 480px) {
  .bitacora-container {
      padding: 10px;
      margin-top: 20px;
  }

  .title-text {
      font-size: 1.6rem;
  }

  .bitacora-image {
      width: 60px;
      height: 60px;
  }

  .upload-box {
      height: 50px;
  }
}
.input-box .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color:  #d9d9d9; 
}

.input-box .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline,
.input-box .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: rgb(58, 126, 13) ; 
}
/* Cambiar el color cuando el input esté enfocado */
.MuiInputLabel-root.Mui-focused {
  color: #2e5d0a; /* Otro tono de verde */
}



