.container{
  height: 100vh;
}


/* Estilos generales para html y body */




.title-text {
  color: #397f0e;
  font-size: 2rem;
  text-align: center;
  padding: 15px;
}

.bitacora-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.image-upload-container {
  width: 80%;
  background-color: #e0f2e9;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 10px 0;
}

.bitacora-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

.upload-label {
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

.upload-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #397f0e;
  color: white;
  height: 60px;
  border-radius: 12px;
  margin-top: 10px;
}

.upload-icon {
  font-size: 24px;
  color: #ffffff;
}

.upload-text {
  font-size: 14px;
  color: #ffffff;
}

.bitacora-fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.save-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Estilos responsivos para dispositivos móviles */
@media (max-width: 768px) {
  .bitacora-container {
    padding: 10px;
  }

  .title-text {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .bitacora-container {
    padding: 8px;
  }

  .title-text {
    font-size: 1.4rem;
  }
}

.input-box .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color:  #d9d9d9; 
}

.input-box .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline,
.input-box .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: rgb(58, 126, 13) ; 
}
/* Cambiar el color cuando el input esté enfocado */
.MuiInputLabel-root.Mui-focused {
  color: #2e5d0a; /* Otro tono de verde */
}



