
.container-crear {
    height: 100vh; /* Cubre la altura total de la ventana */

  }

  .MuiContainer-root{
    background-color: white;
  }
.title-text-crear {
  color: #397f0e;
  font-size: 2.2rem;
  text-align: center;
}

.bitacora-header-crear {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.image-upload-container-crear {
  width: 80%;
  background-color: #e0f2e9;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
margin-left: 10%;
}

.image-gallery-crear {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 10px 0;
  border-radius: 10px
}

.bitacora-image-crear {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
 }

.upload-label-crear {
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

.upload-box-crear {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #397f0e;
  color: white;
  height: 60px;
  border-radius: 12px;
  margin-top: 10px;
}

.upload-icon-crear {
  font-size: 24px;
  color: #ffffff;
}

.upload-text-crear {
  font-size: 14px;
  color: #ffffff;
}

.bitacora-fields-crear {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.save-button-container-crear {
  display: flex;
  justify-content: center;
  margin-top: 20px;
 padding: 10px;
}

.date-time-container-crear {
    display: flex;
    justify-content: center;
    gap: 16px; /* Espacio entre los elementos */
    margin: 16px 0; /* Margen superior e inferior para el contenedor */
  }
  
  .input-box-crear {
    flex: 1;
  }

/* Ajustes para responsividad */
@media (max-width: 768px) {
  .title-text {
    font-size: 1.8rem;
  }

  .bitacora-container {
    width: 95%;
  }

  .bitacora-image {
    width: 70px;
    height: 70px;
  }

  .upload-box {
    height: 45px;
  }
}

@media (max-width: 480px) {
  .bitacora-container-crear {
    padding: 10px;
    margin-top: 20px;
  }

  .title-text-crear {
    font-size: 1.6rem;
  }

  .bitacora-container {
    padding: 15px;
  }

  .bitacora-image-crear {
    width: 60px;
    height: 60px;
  }

  .upload-box-crear {
    height: 50px;
  }
}


/* Estilos para cambiar el color de la etiqueta cuando el input esté enfocado */
.input-box-crear .MuiInputLabel-root.Mui-focused {
    color: #2e5d0a; /* Color verde para el label enfocado */
  }
  
  /* Estilos para cambiar el color del texto del input */
  .input-box-crear .MuiInputBase-input {
    color: black; /* Cambia el texto a verde */
  }
  
  /* Estilos para el borde del input cuando está enfocado */
  .input-box-crear .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: rgb(58, 126, 13); /* Verde para el borde enfocado */
  }
  
  /* Estilo para el borde del input en estado normal */
  .input-box-crear .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: #d9d9d9; /* Color de borde predeterminado */
  }
  
  /* Cambio de color al pasar el cursor por encima */
  .input-box-crear .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: rgb(58, 126, 13); /* Verde al hacer hover */
  }
  
