* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .panel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .filter-bar-container {
    width: 90%;
    max-width: 1200px;
    margin-bottom: 20px; /* Espacio entre el FilterBar y la tabla */
    display: flex;
    justify-content: center; /* Centra el FilterBar */
    align-items: center;
  }
  
  .table-container {
    width: 90%;
    max-width: 1200px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto; /* Permite desplazamiento horizontal para tablas grandes */
    margin-top: 200px;
  }
  
  .table-container table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table-container th,
  .table-container td {
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    font-size: 0.9rem;
  }
  
  .table-container th {
    font-weight: bold;
    background-color: #49a011;
    color: white;
    text-transform: uppercase;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .table-container tr:nth-child(even) {
    background-color: rgba(230, 230, 230, 0.5);
  }
  
  /* Ajustes para pantallas más pequeñas */
  @media (max-width: 768px) {
    .filter-bar-container {
      flex-direction: column;
      gap: 10px;
    }
  
    .table-container th,
    .table-container td {
      font-size: 0.8rem; /* Reduce el tamaño del texto */
    }
  }
  
  @media (max-width: 480px) {
    .filter-bar-container {
      padding: 10px;
    }
  
    .table-container th,
    .table-container td {
      font-size: 0.75rem;
    }
  
    .icon-button {
      padding: 5px;
    }
  }
  