* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.panel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
   /* Espacio superior para el navbar fijo */
}

.filter-bar-container-panel {
  width: calc(100% - 40px);
  max-width: 1000px;
  background-color: #397f0e;
  padding: 8px;
  border-radius: 10px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
.table-container {
  width: calc(100% - 40px);
  max-width: 1200px;
  margin-top: 20vh; /* Ajusta el espacio para que la tabla se separe del FilterBar */
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Fondo blanco ligeramente más opaco */
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  padding: 10px;
  text-align: center; /* Centra el contenido de cada celda */
  vertical-align: middle; /* Centra verticalmente */
}

.table-container th {
  font-weight: bold;
  background-color: #f0f0f0;
}

.table-container tr:nth-child(even) {
  background-color: rgba(
    230,
    230,
    230,
    0.5
  ); /* Color de fondo alternativo para filas */
}

/* Botones de Icono */
.icon-button {
  padding: 5px; /* Ajuste de espacio alrededor del icono */
}

.icon-button:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Efecto hover suave */
}

.search-input {
  background-color: white;
  border: 1px solid #9abf80;
  padding: 8px;
  border-radius: 8px;
}

.MuiFormLabel-root.Mui-focused {
  color: rgb(58, 126, 13);
}

.input-box .MuiInputBase-input {
  color: #000000;
}

.input-box .MuiFormLabel-root.Mui-focused {
  color: #397f0e;
}
.table-users .table-container {
  overflow-x: auto; /* Habilita el desplazamiento horizontal */
  max-width: 100%; /* Asegura que no exceda el ancho del contenedor */
}

@media (max-width: 768px) {
  .table-users .table-container {
    display: block; /* Asegura que sea desplazable en pantallas pequeñas */
  }

  .table-users table {
    width: 100%; /* Asegura que la tabla se ajuste al contenedor */
    border-collapse: collapse;
  }

  .table-users th, .table-users td {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  .table-users th, .table-users td {
    white-space: normal; /* Permite que el contenido se ajuste */
    padding: 8px; /* Ajusta el padding */
  }

  .table-users tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px; /* Agrega espacio entre filas */
    border-bottom: 1px solid #ccc; /* Opcional: agrega una línea para separar filas */
  }

  .table-users th {
    font-weight: bold;
  }
}

@media (max-width: 600px) {
  .table-users{
    margin-top: 150vh;
  }
  .table-users th, .table-users td {
    font-size: 14px; /* Ajusta el tamaño de fuente para pantallas pequeñas */
  }
}




