.filter-bar-container-home {
  width: calc(100% - 40px);
  max-width: 1200px;
  padding: 8px 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  position: absolute;
 }

.filter-bar-container-home > * {
  flex-grow: 1;
  margin: 0 8px;
  background-color: #408b12;
}

.bitacora-list-home {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  height: 80vh;
  margin-top: 15%;
  max-width:80%;
  border-radius: 10px;
  justify-content:center;
  margin-left: 10%;
 }



@media (max-width: 768px) {
  .bitacora-list-home{
    margin-left: 10%;
     margin-top: 138%;
        }
}

