* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.admin-home-container {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://images.pexels.com/photos/807598/pexels-photo-807598.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-attachment: fixed; /* Fija el fondo al desplazarse */
  background-position: center;
  min-height: 100vh;
  padding-top: 60px; /* Espacio superior para el navbar fijo */
}

.filter-bar-container {
  width: calc(100% - 40px);
  max-width: 1200px;
  padding: 8px 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.filter-bar-container > * {
  flex-grow: 1;
  margin: 0 8px;
}

.filter-bar-container select {
  flex-grow: 0;
  width: auto;
  color: #37730d; /* Verde oscuro */
  border: 1px solid #9abf80;
  border-radius: 6px;
  padding: 4px;
  background-color: #eaf2e4;
  cursor: pointer;
}

.filter-bar-container select:hover {
  background-color: #9abf80; /* Hover en select */
}

.sort-container {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  color: #37730d;
}

.sort-container span {
  margin-right: 8px;
  font-weight: bold;
}

.bitacora-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  max-width: 95%;
  margin-top: 80px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con mayor transparencia */
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Permite desplazamiento vertical solo en la lista */
  max-height: 80vh; /* Define una altura máxima para la lista de bitácoras */
}

/* Botones e iconos */
button,
.icon-button {
  background-color: #9abf80;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover,
.icon-button:hover {
  background-color: #51a614;
}

.search-input {
  background-color: #eaf2e4;
  color: #37730d;
  border: 1px solid #9abf80;
  padding: 8px;
  border-radius: 8px;
}

/* Hover en iconos y barra de búsqueda */
.icon-button:hover,
.search-input:hover {
  background-color: #438c0f; /* Hover verde más oscuro */
}

@media (max-width: 768px) {
  .bitacora-list {
    flex-direction: column;
    align-items: center;
    max-height: none; /* Permite que la lista ocupe toda la altura en pantallas pequeñas */
  }

  .filter-bar-container {
    width: 100%;
    padding: 10px 15px;
  }
}

.subtitulo-verde {
  color: #9abf80; /* Color verde */
  font-weight: bold;
}
.admin-home-container .filter-bar-container{
    background-color:#37730d;
}