* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body, html {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://images.pexels.com/photos/807598/pexels-photo-807598.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  }

.register-container {
  margin-top: 5px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px; /* Aumenta el ancho máximo a 500px */
 }

.register-header {
  width: 320px;
   display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -20px;
}

.back-button {
  color: white;
  align-self: flex-start;
}

.logo {
  width: 130px;
  height: auto;
  margin-top: 10px;
padding: 10px;
}

.register-text {
  color: #397f0e; 
  text-align: center;
  }

.subtitle-text {
  color: #9e9e9e;
  text-align: center;
}

.form-box {
  padding-top: 10px;
  margin-top: 8px;
  }

.input-box {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.input-icon {
  margin-right: 8px;
}

.input-box .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: #9e9e9e;
}

.input-box .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline,
.input-box .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #397f0e;
}

.input-box .MuiInputBase-input {
  color: #000000;
}

.register-button {
  margin-top: 24px;
  margin-bottom: 16px;
  background-color: #397f0e;
  color: #fff;
  border-radius: 8px;
}

.social-button {
  color: #889388;
  margin: 0 8px;
}

.MuiFormLabel-root.Mui-focused {
  color: rgb(58, 126, 13); 
}

.input-box .MuiInputBase-input {
  color: #000000; 
}

.input-box .MuiFormLabel-root.Mui-focused {
  color: #397f0e;
}

/* Responsiveness */
@media (max-width: 768px) {
  .register-container {
    max-width: 90%; /* Haz que ocupe casi todo el ancho en tablets y celulares */
    padding: 12px;
  }

  .logo {
    width: 100px; /* Reduce el tamaño del logo */
  }

  .register-button {
    font-size: 14px; /* Ajusta el tamaño del texto del botón */
  }

  .social-button {
    margin: 0 4px; /* Reduce el espacio entre los íconos */
  }
}
